extends layout
block pageTitle
    .jumbotron
        h1 Print Server
        h2 Hotlab Connect uses CUPS to connect to the local Zebra printer


    .jumbotron
        .container-fluid
            .row-fluid.well-lg
                .container-fluid

                hr
                iframe(width = '100%', height='1000', frameborder='yes', id="myFrame", src= "http://10.7.145.206:631" style="border:1px solid grey")





